.main {
  width: 100%;

  .cloud {
    width: 100%;
    z-index: 2;
  }

  .sectionFirst {
    padding-top: 200px;
    width: 100%;
    height: 1295px;
    display: flex;
    justify-content: center;
    background-image: url("../../assets/image/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .sectionSecond {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2e363e;

    h2 {
      font-size: 48px;
      font-weight: 500;
      line-height: 60px;
      letter-spacing: -1px;
      text-align: center;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      padding-top: 50px;
    }
  }

  .sectionThird {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #081130;

    .bottom {
      width: 100%;
      height: 40%;
      display: flex;
      align-items: flex-end; 

      .phone {
        position: absolute;
        z-index: 1;
        width: 50%;
      }

      .cloud {
        position: absolute;
      }
    }
  }

  .sectionFourth {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .woman {
      position: relative;
      height: 100vh;
      display: flex;
      justify-content: end;
      padding: 10px 0;

      img {
        height: 100%;
      }
    }

    .parallelograms {
      position: absolute;
      left: -100px;
      bottom: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .name {
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        text-align: center;
        transform: skew(-15deg);
        padding: 15px 24px;
        border-radius: 8px;
        background-color: #2e363e;
        color: #ffffff;
      }

      .text {
        font-size: 18px;
        font-weight: 400;
        line-height: 21.94px;
        letter-spacing: 1px;
        padding: 15px 24px;
        text-align: center;
        background-color: #f2f6fa;
        color: #2e363e;
        text-transform: uppercase;
        transform: skew(-15deg);
      }
    }
  }

  .sectionFifth {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #081130;
  }

  .sectionSixth {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
