.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid #f2f6fa;
  box-shadow: 2px 8px 16px 0px #c2c6d00f;
  cursor: pointer;
  transition: transform 0.3s ease;

  img {
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 50px 44px;
    gap: 24px;

    .info {
      display: flex;
      flex-direction: column;
      gap: 12px;

      h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 34px;
        text-align: left;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        text-align: left;
      }
    }

    .priceAndButton {
      display: flex;
      flex-direction: column;
      gap: 14px;
      flex-wrap: wrap;
      align-content: flex-start;

      .price {
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        text-align: left;
        color: #434b53;
      }
    }
  }
}

.card:hover{
  transform: scale(1.01);
}

@media screen and (max-width: 600px) {
  .card {
    .content {
      padding: 25px 22px;
      gap: 12px;

      .info {
        gap: 12px;
      }

      .priceAndButton {
        gap: 7px;
      }
    }
  }
}
