.header {
  position: absolute;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  color: #ffffff;
  border-bottom: 1px solid rgba(126, 134, 142, 10%);

  .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 21px;
      font-weight: 500;
      line-height: 30px;
    }
    .wrap {
      display: flex;
      justify-content: center;
      gap: 60px;
    }

    .address,
    .contact {
      display: flex;
      justify-content: center;
      align-items: start;
      gap: 15px;
      font-size: 12px;
      line-height: 18px;
      align-content: center;
      flex-wrap: wrap;

      .phone,
      a {
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        color: #ffffff;
        transition: all 0.2s ease-in;
      }
      a:hover {
        color: #2e363e;
      }
    }
  }

  svg {
    position: relative;
    top: 5px;
    fill: #ffffff;
  }
}

@media screen and (max-width: 600px) {
  .header {
    .content {
      .title {
        font-size: 16px;
        line-height: normal;
      }
      .wrap {
        gap: 20px;
      }

      .address {
        display: none;
      }

      .phone,
      a {
        font-size: 16px !important;
        line-height: normal;
      }
      a:hover {
        color: #2e363e;
      }
    }
    svg {
      display: none;
    }
  }
}
