.button {
  display: flex;
  gap: 10px;
  border-radius: 8px;
  background-color: #fed84c;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  transition: all 0.2s ease-in;
  border: 2px solid #fed84c;
}

.button:hover {
  background-color: #f5c104;
}
.button:active {
  background-color: inherit;
  color: #fed84c;
}

.small {
  padding: 18px 38px;
}

.medium {
  padding: 28px 38px;
}

.big {
  padding: 28px 48px;
}
//padding на 2px меньше из-за border

@media screen and (max-width: 426px) {
  .big {
    padding: 18px 28px;
  }
  .medium {
    padding: 18px 28px;
  }
}
